/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 20px;
    background-color: #ccc;
}

main section, aside {
    background-color: white;
    padding: 20px;
}

footer {
    padding: 20px;
    background-color: #333;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px 0;
    background-color: black;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 20px;
    background-color: #ccc;
}

main section, aside {
    background-color: white;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

